# arxiv_downloader tests

**Datetime**: 2025-10-10T11:45:43.173219Z

## JSON cases file

`test/arxiv_downloader_cases.json`

## unittest output (summary)

```

----------------------------------------------------------------------
Ran 9 tests in 0.008s

OK
````
